.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &.primary-button{
        background-color: #f33636;
        color: aliceblue;
    }

    &:hover{
        background-color: #881e1e;
    }
}