/* --- SIMPLE CSS BOILERPLATE --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family:monospace;
  color: rgb(5, 217, 5);
  font-size: 3rem;

}
  