*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
/* lesson1
#app{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app .title h1{
  font-size: 8rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p{
  font-size: 2.3rem;
  width: 80%;
}

.titleWord{
  overflow: hidden;
} */

/** lesson2


#app{
  height: 100vh;
  width: 100%;
}

.box{
  height: 100px;
  width: 100px;
  background-color: red;
}

*/

#app{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #010101;
}

.imageGallery{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 20%;
  gap: 2rem;
}

.imageGallery img{
  height: 60%;
  width: 30%;
  object-fit: cover;
  cursor: pointer;
}

.imageShow{
  height: 70%;
  width: 60%;
  background-color: red;
}

.imageShow img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
