.button {
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: #d20c3d;
    color: whitesmoke;
  }

  &:active {
    transform: scale(0.9);
  }
}
