* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}

@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-col(0rem);
  align-items: center;

  section {
    width: 100%;
    @include flex-col(0.9rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #292929;
      padding: 1.5rem;
      border-radius: 0.78rem;
      @include flex-col(4rem);

      .text {
        @include flex-col(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.125rem;
          opacity: 0.35;
          line-height: 1.75;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          font-weight: 600;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
          margin-top: 0.7rem;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  main {
    section {
      flex-direction: row;
      padding: 1rem 4rem;


      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            width: 90%;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// https://medium.com/@prajapatiankur8349/how-to-create-responsive-websites-like-a-pro-2193ff6ab574
